
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đơn hàng đã được chúng tôi lưu lại và xử lý. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất.</h2>
<h2>Cam kết giao hàng đúng hẹn!!! Xin cảm ơn!!!</h2>
<p>
    @Html.ActionLink("Về trang chủ","Index","RauShop")
</p>