
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-md-10 produti">
    <h4>Liên hệ</h4>
</div>
<div class="col-md-2 cart">
    <h4><a href="#" style="color: black; font-weight: bold; "></a></h4>
    <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>
</div>
        </div>
    </div>
</div>
<!-- shop-page -->
<div class="container">
    <div class="row content">
        <div class="col-md-9">
            <div class="map1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.123600824649!2d106.71265711404774!3d10.801844361679528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gKEhVVEVDSCk!5e0!3m2!1svi!2s!4v1513490436075" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="row contact-all">
                <div class="triggerAnimation animated" data-animate="fadeInLeft">
                    <form id="contact-form">
                        <h1>contact us</h1>
                        <div class="text-fields">
                            <div class="float-input">
                                <input name="name" id="name" type="text" placeholder="Name">
                                <span><i class="fa fa-user"></i></span>
                            </div>
                            <div class="float-input">
                                <input name="mail" id="mail" type="text" placeholder="e-mail">
                                <span><i class="fa fa-envelope-o"></i></span>
                            </div>
                            <div class="float-input">
                                <input name="website" id="website" type="text" placeholder="website">
                                <span><i class="fa fa-link"></i></span>
                            </div>
                        </div>
                        <div class="submit-area">
                            <textarea name="comment" id="comment" placeholder="Message"></textarea>
                            <input type="submit" id="submit_contact" class="main-button" value="Send Now">
                            <div id="msg" class="message">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 shop-sidebar">
            <div class="sidebar-widgets">
                <div class="row right-cal">
                    <h4>Giờ mở cửa</h4>
                    <ul>
                        <li><a href="#">Thứ hai<span>8am-5pm</span></a></li>
                        <li class="colored"><a href="#">Thứ ba<span>8am-5pm</span></a></li>
                        <li><a href="#">Thứ tư<span>8am-5pm</span></a></li>
                        <li class="colored"><a href="#">Thứ năm<span>8am-5pm</span></a></li>
                        <li><a href="#">Thứ sáu<span>8am-5pm</span></a></li>
                        <li class="colored"><a href="#">Thứ bảy<span>8am-5pm</span></a></li>
                        <li><a href="#">Chủ nhật<span>8am-5pm</span></a></li>
                    </ul>
                </div>
                <div class="row right-inf">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li>
                            <p>
                                SHK shop
                            </p>
                        </li>
                        <li>
                            <p>
                                Street name 0123, Washington, USA
                            </p>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="#">T:0123 456 789</a></li>
                        <li><a href="#">F:0123 456 789</a></li>
                        <li><a href="#">E:info@chocco.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

