
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}




<center>
    <p style="color: green; font-weight: bold; font-size:30px;line-height:2; ">Về chúng tôi</p>
</center>
<justify>
    <p></p>
    <p style="line-height:2;text-indent: 35px">
        Với hiện trạng rau quả hiện nay đang bị nhiễm bẩn với đủ các loại hóa chất và dư lượng thuốc bảo vệ thực vật vượt quá mức cho phép nhiều lần, cũng như việc rau xanh được người nông dân tưới bằng nguồn nước thải ô nhiễm,
        thời gian qua không ít người nội trợ lo lắng cho sức khỏe của các thành viên trongđình khi phải ăn rau nhiểm bẩn.
    </p>
    <p style="line-height:2;text-indent: 35px">
        Mọi người có xu hướng thay đổi thói quen chọn lựa thực phẩm, từ rau xanh mướt sang các loại rau trông xấu mã và già để đảm bảo an toàn hơn.
        Ngoài ra, một lượng không nhỏ người dân thực hiện tự trồng rau sạch tại nhà để dùng. Việc trồng rau tại nhà không những cung cấp được lượng rau đủ dùng trong gia đình mà còn mang lại những thú vui tao nhã cho người trồng.
    </p>
    <p style="line-height:2;text-indent: 35px">
        Để đáp ứng nhu cầu ngày càng lớn việc tự trồng rau sạch tại nhà, website rausachonline.vn đã ra đời.
        Chúng tôi sẽ cung cấp cho bạn những vật tư để việc trồng trọt trở nên dễ dàng và tiện lợi ngay trong ngôi nhà bạn. Với số lượng lớn, phong phú các loại hạt giống như Rau ăn lá, Rau ăn củ quả, Rau gia vị, Hoa,…cùng với các dụng cụ làm vườn từ chậu trồng, đất sạch, phân bón hữu cơ,…việc trồng rau sạch cho cả nhà sẽ hết sức tiện lợi.
    </p>
    <p style="line-height:2;text-indent: 35px"> Bạn sẽ không phải lo lắng về việc chọn lựa hạt giống hay chuẩn bị những gì cho việc trồng rau, bởi website chúng tôi có đầy đủ các chuyên mục thông tin từ hướng dẫn lựa chọn đến các kĩ thuật trồng, chăm sóc cây, bảo vệ cây,…Bên cạnh đó, chúng tôi còn cung cấp dịch vụ thiết kế thi công vườn rau tại nhà cho các hộ gia đình cần tư vấn, thực hiện trồng rau.</p>
    <p style="line-height:2;text-indent: 35px"><a href="http://raushop.vn" style="color:blue;">Raushop.vn</a> rất hân hạnh được đồng hành cùng bạn tạo ra vườn rau sạch tại nhà vừa ngon vừa an toàn cho sức khỏe.</p>
</justify>